{% extends "theme::layouts/default" %}

{% block content %}

    <div id="pyradic">
        <div class="container-fluid">
            <div class="card">
                <div class="card-block">
                    <h4 class="title">
                        {{ trans('module::addon.section.overview') }}
                    </h4>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
